.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.submit-btn {
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem; 
}

.submit-btn:hover {
  background-color: white;
  border: 1px solid;
  border-color: #007bff;
  color: #007bff;
}

.error {
  border: 0.135rem solid;
  border-color: red;
}
