.purchase-card {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 1.3rem;
}

ul {
  padding: 0
}

.svg-inline--fa {
  padding-top: 1rem;
}