body {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.form-content {
  background-color: white;
  height: 100vh;
  width: 70vw;
}